@model IEnumerable<CoffeeShop.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}
<body style="background-color: #e5d9be;">
<h1>Lista de clientes da loja</h1>

<p>
            <a asp-action="Create" class="btn btn-outline-primary" style="color:black">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th width="20%">
                    Código do cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>